<div class="container mt-4">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active">
        <b> Danh sách đánh giá </b>
      </li>
    </ul>
    <div id="clock"></div>
  </div>
  <!-- <div class="add-product"><button>Thêm đánh giá</button></div> -->

  <div class="row">
    <table class="table table-hover table-bordered" id="sampleTable">
      <thead>
        <tr>
          <th>Tên người dùng</th>
          <th>Email</th>
          <th>Đánh giá</th>
          <th> Xóa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of feedbacks">
          <td>{{ f.username }}</td>
          <td>{{ f.useremail }}</td>
          <td>{{ f.usermessage }}</td>
          <td>
            <button
              class="btn btn-sm trash me-3 delete-button"
              type="button"
              title="Xóa"
              (click)="delete(f._id)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

