<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <div class="nav flex-column nav-pills">
          <a class="nav-link">Dashboard</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link">Orders</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link">Downloads</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link">Account</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/account">Quản lý thông tin</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link active">Đổi mật khẩu</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link">Đăng xuất</a>
        </div>
      </div>
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <form class="mt-5" [formGroup]="resetPasswordForm" #userForm="ngForm"
        (ngSubmit)="resetPassword(userForm.value)">
          <h4>Thay đổi mật khẩu</h4>
          <div class="form-group">
            <label>Mật khẩu hiện tại</label>
            <input
              type="password"
              [class.is-invalid]="pass.invalid && pass.touched"
              [(ngModel)]="user['pass']"
              class="form-control"
              formControlName="pass"
              placeholder="Nhập mật khẩu hiện tại"
            />
            <div *ngIf="pass.invalid && pass.touched" class="mt-2">
              <small *ngIf="pass.errors?.['required']" class="text-danger"
                >Mật khẩu không được để trống!
              </small>
            </div>
          </div>
          <div class="form-group">
            <label>Mật khẩu mới</label>
            <input
              type="password"
              [class.is-invalid]="newPass.invalid && newPass.touched"
              [(ngModel)]="newPassword"
              class="form-control"
              formControlName="newPass"
              placeholder="Nhập mật khẩu mới"
            />
            <div *ngIf="newPass.invalid && newPass.touched" class="mt-2">
              <small *ngIf="newPass.errors?.['required']" class="text-danger"
                >Mật khẩu mới không được để trống!
              </small>
            </div>
          </div>
          <div class="form-group">
            <label>Nhập lại mật khẩu</label>
            <input
              type="password"
              [class.is-invalid]="reTypePass.invalid && reTypePass.touched"
              [(ngModel)]="reTypePassword"
              class="form-control"
              formControlName="reTypePass"
              placeholder="Nhập lại mật khẩu mới"
            />
            <div *ngIf="reTypePass.invalid && reTypePass.touched" class="mt-2">
              <small *ngIf="reTypePass.errors?.['required']" class="text-danger"
                >Mật khẩu nhập nhập lại không được để trống!
              </small>
            </div>
            <div *ngIf="resetPasswordForm.errors?.['misMatch']" class="mt-2">
              <small class="text-danger" *ngIf="resetPasswordForm.errors?.['misMatch']"
                >Mật khẩu không trùng khớp!</small
              >
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-dark"
            [disabled]="!resetPasswordForm.valid"
          >
            Lưu thay đổi
          </button>
        </form>
        <button
          class="btn btn-danger mt-3 mb-5"
          (click)="forgetPassword()"
        >Forget password?</button>
      </div>
    </div>
  </div>
</section>
