<div>
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="about__pic">
            <img src="../../assets/images/about/1.png" alt=" " />
            <h3> Thương hiệu DORA Jewelry</h3>
            <p style="text-align: justify;"> Dora Jewelry là thương hiệu phụ kiện trang sức được thành lập vào
              tháng 3/2023, khởi nguồn từ mong muốn có thể cung cấp các loại sản
              phẩm trang sức, phụ kiện đẹp và đa dạng cho khách hàng tại thị
              trường Việt Nam. Đến với Dora, bạn chắc chắn sẽ tìm thấy rất nhiều
              sự lựa chọn mà không phải lăn tăn nhiều về giá cả. Ở đây chúng tôi
              có những mẫu sản phẩm mới nhất với giá cả phải chăng nhất đáp ứng
              được nhu cầu của người tiêu dùng.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <h3> Craftmanship & Mastery </h3>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="about__item">
            <img src="../../assets/images/about/2.png" alt=" " />
            <h4>Chuyên nghiệp </h4>
            <p>
              Các đường cắt, sắc thái và kích thước mới được hình thành và hiện thực
              hóa hàng ngày tại trụ sở của Dora.
              Bí quyết của chúng tôi không chỉ tập trung vào từng chi tiết nhỏ mà còn
              khám phá các phương pháp tạo ra những tác phẩm đáng kinh ngạc nhất có thể.

            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="about__item">
            <img src="../../assets/images/about/3.png" alt=" " />
            <h4>Sáng tạo</h4>
            <p>
              Từ bản tóm tắt cảm hứng cho đến buổi ra mắt bộ sưu tập, quy trình sáng tạo
              của Dora rất phong phú. Với trọng tâm là tìm kiếm xu hướng, thiết kế và
              xây dựng thương hiệu có ý nghĩa, mỗi tác phẩm đều là một câu chuyện thú vị.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="about__item">
            <img src="../../assets/images/about/4.png" alt=" " />
            <h4>Chất lượng</h4>
            <p>
              Các cài đặt hạt charm của DORA trở nên sống động thông qua các kỹ thuật độc
              quyền, mang lại chất lượng cực kỳ chính xác
              cho công việc được thực hiện bằng tay. Sự chú ý của chúng tôi đến từng chi
              tiết đảm bảo rằng mỗi và mọi mảnh sẽ luôn được làm bằng chất lượng cao nhất.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->

  <!-- Testimonial Section Begin -->
  <section class="discover">
    <div class="container">
    <h3>Khám phá cảm hứng thiết kế</h3>
      <div class="row">
        <div class="col-lg-6 p-0">
          <div class="discover__text mx-2">
            <p>
              Trang sức có khả năng biến đổi một bộ trang phục, khơi dậy trí tưởng tượng
              và nâng cao tâm trạng của bạn. Một bộ sưu tập trang sức đa dạng đóng vai
              trò là nền tảng cho sự sáng tạo, cung cấp những món đồ bạn cần để tạo nên
              những bộ trang phục quyến rũ. Từ những chiếc khuyên tai đơn giản tưởng chừng
              như đơn giản cho đến nhiều chiếc nhẫn xếp chồng lên nhau, những món đồ trang
              sức cần thiết của chúng tôi sẽ nâng tầm cuộc sống hàng ngày của bạn.
            </p>
          </div>
        </div>
        <div class="col-lg-6 p-0 about__item">
          <img src="../../assets/images/about/5.png" alt=" " />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 p-0 about__item">
          <img src="../../assets/images/about/6.png" alt=" " />
        </div>
        <div class="col-lg-6 p-0">
          <div class="discover__text mx-2">
            <p>
              Thể hiện cá tính của bạn với một vài món đồ trang sức đơn giản nhưng lại thu hút.
              Một món đồ trang sức cần thiết, không chỉ được dùng trong những dịp đặc biệt.
              Vòng tay là một món đồ trang sức thiết yếu,
              dù được đeo cho một dịp cụ thể hay để tăng thêm vẻ quyến rũ tinh tế
              cho vẻ ngoài giản dị.
            </p>
          </div>
        </div>
      </div>
    </div>
