<app-header *ngIf="!isAdmin"></app-header>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" *ngIf="isAdmin">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <!-- <li>
            <a (click)="onDashboard()" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i>
              <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li> -->
          <li>
            <a (click)="onOrder()" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">Orders</span></a>
          </li>
          <li>
            <a (click)="onProduct()" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i>
              <span class="ms-1 d-none d-sm-inline">Products</span>
            </a>
          </li>
          <li>
            <a (click)="onCustomer()" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline">Customers</span>
            </a>
          </li>
          <li>
            <a (click)="onFeedback()" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-spellcheck"></i>
              <span class="ms-1 d-none d-sm-inline">Feedbacks</span>
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle" /> -->
            <li><a class="dropdown-item d-none d-sm-inline mx-1" (click)="onSignOut()">Sign out</a></li>

          </a>

        </div>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer *ngIf="!isAdmin"></app-footer>
