/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
  background: #f3f2ee;
  padding: 40px 0;
}

.breadcrumb__text h4 {
  color: #111111;
  font-weight: 700;
  margin-bottom: 8px;
}

.breadcrumb__links a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}

.breadcrumb__links a:after {
  position: absolute;
  right: -14px;
  content: ">";
}

.breadcrumb__links span {
  font-size: 15px;
  color: #b7b7b7;
  display: inline-block;
}


/*---------------------
Shopping favorite
-----------------------*/
.shopping-favorite {
  margin-top: 100px;

}

.shopping__favorite__table {
  margin-bottom: 100px;
}

.shopping__favorite__table table {
  width: 100%;
}

.shopping__favorite__table table thead {
  border-bottom: 1px solid #f2f2f2;
}

.shopping__favorite__table table thead tr th {
  color: #111111;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.shopping__favorite__table table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

.shopping__favorite__table table tbody tr td {
  padding-bottom: 30px;
  padding-top: 30px;
}

.shopping__favorite__table table tbody tr td.product__favorite__item {
  width: 400px;
}

.shopping__favorite__table table tbody tr td.product__favorite__item .product__favorite__item__pic {
  float: left;
  margin-right: 30px;
  /* width: 50px; */
}

.shopping__favorite__table table tbody tr td.product__favorite__item .product__favorite__item__text {
  overflow: hidden;
  padding-top: 21px;
}

.shopping__favorite__table table tbody tr td.product__favorite__item .product__favorite__item__text h6 {
  color: #111111;
  /* font-size: 15px;
  font-weight: 600; */
  margin-bottom: 10px;
}

.shopping__favorite__table table tbody tr td.product__favorite__item .product__favorite__item__text h5 {
  color: #0d0d0d;
  /* font-weight: 700; */
}



.shopping__favorite__table table tbody tr td.quantity__item .quantity .pro-qty-2 input {
  width: 50px;
  border: none;
  text-align: center;
  color: #111111;
  font-size: 16px;
}

.shopping__favorite__table table tbody tr td.quantity__item .quantity .pro-qty-2 .qtybtn {
  /* font-size: 16px; */
  color: #888888;
  width: 10px;
  cursor: pointer;
}

.shopping__favorite__table table tbody tr td.favorite__price {
  color: #111111;
  /* font-size: 18px; */
  font-weight: 700;
  width: 140px;
}

.shopping__favorite__table table tbody tr td.favorite__close i {
  font-size: 18px;
  color: #111111;
  height: 40px;
  width: 40px;
  background: #f3f2ee;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}

.continue__btn.remove__btn {
  text-align: right;
  margin-left: 20px;
  margin-right: 10px;
}



.continue__btn.remove__btn a i {
  margin-right: 5px;
}

.continue__btn a {
  color: #ffffff;
  background: #111111;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  padding: 14px 35px;
  display: inline-block;
  text-decoration: none;
}

.favorite__discount {
  margin-bottom: 60px;
}

.favorite__discount h6 {
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.favorite__discount form {
  position: relative;
}

.favorite__discount form input {
  font-size: 14px;
  color: #b7b7b7;
  height: 50px;
  width: 100%;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
}

.favorite__discount form input::-webkit-input-placeholder {
  color: #b7b7b7;
}

.favorite__discount form input::-moz-placeholder {
  color: #b7b7b7;
}

.favorite__discount form input:-ms-input-placeholder {
  color: #b7b7b7;
}

.favorite__discount form input::-ms-input-placeholder {
  color: #b7b7b7;
}

.favorite__discount form input::placeholder {
  color: #b7b7b7;
}

.favorite__discount form button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #111111;
  padding: 0 30px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.favorite__total {
  background: #f3f2ee;
  padding: 35px 40px 40px;
}

.favorite__total h6 {
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.favorite__total ul {
  margin-bottom: 25px;
}

.favorite__total ul li {
  list-style: none;
  font-size: 16px;
  color: #444444;
  line-height: 40px;
  overflow: hidden;
}

.favorite__total ul li span {
  font-weight: 700;
  color: #e53637;
  float: right;
}

.favorite__total .primary-btn {
  display: block;
  padding: 12px 10px;
  text-align: center;
  letter-spacing: 2px;
}

.center {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.card {
  margin: 20px 10px;
  padding: 25px;
}

.center .btn {
  font-size: 14px !important;
  margin-top: 20px !important;
  font-weight: 400;
  padding: 12px 72px;
  border-radius: 3px !important;
}


.checkout__input {
  margin-bottom: 6px;
}

.checkout__input p,
.checkout__input__select label {
  font-weight: bold;
  margin-bottom: 12px;
}

.checkout__input p span,
.checkout__input__select span {
  color: #e53637;
}

.checkout__input input,
.checkout__input__select select {
  height: 40px;
  width: 100%;
  border: 1px solid #e1e1e1;
  color: #1c1c1c;
  padding-left: 20px;
  margin-bottom: 20px;
}


@media only screen and (max-width: 479px) {
  .favorite__discount form button {
    padding: 0 20px ;
}
}
