<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <form
          action=""
          #productForm="ngForm"
          (ngSubmit)="editData(productForm)"
        >
          <input type="hidden" name="_id" [(ngModel)]="product._id" />
          <div class="mb-3">
            <label for="id">Mã:</label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="id"
              [(ngModel)]="product._id"
              [readOnly]="true"
            />
          </div>
          <div class="mb-3">
            <label for="name">Tên sản phẩm:</label><br />
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Nhập tên sản phẩm"
              [(ngModel)]="product.name"
            />
          </div>
          <div class="mb-3">
            <label for="price">Giá:</label>
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              [(ngModel)]="product.price"
            />
          </div>
          <div class="mb-3">
            <label for="price">Hình ảnh:</label>
            <input
              type="file"
              class="form-control"
              id="image"
              name="image"
              (change)="onFileSelected($event, product)"
            />
            <img
              id="product-image"
              style="width: 100px; height: 100px"
              title="Product Image"
              *ngIf="product.image != ''"
              #productImage
            />
          </div>
          <div class="mb-3">
            <label for="category">Danh mục:</label>
            <input
              type="text"
              class="form-control"
              id="category"
              name="category"
              placeholder="Nhập tên danh mục sản phẩm"
              [(ngModel)]="product.categoryId"
            />
          </div>
          <div class="mb-3">
              <label for="note">Ghi chú:</label>
              <input
                type="text"
                class="form-control"
                id="note"
                name="note"
                placeholder="Nhập tên ghi chú sản phẩm"
                [(ngModel)]="product.note"
              />
            </div>
          <div class="mb-3 text-center">
            <button type="submit" class="btn me-3">Lưu</button>
            <button (click)="onBack()">Quay lại</button>

          </div>
        </form>
      </div>
    </div>
  </div>

